@charset "UTF-8";
@font-face {
  font-family: 'NotoSansJP-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSansJP-Regular.woff) format('woff');
}

body {
  text-align: center;
  font-family: "NotoSansJP-Regular", sans-serif;
}

h1{
	margin:30px 0;
	color:Gray;
}

h4{
	font-weight:lighter;
	font-size:15px;
	margin-bottom:30px;
}

h3{
  color:Gray;
  font-weight:lighter;
  font-size:15px;
}

/* tab */
.tab-wrap {
  display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 70%;
	height: 100px;
}
.tab-wrap:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #67c5ff;
  display: block;
  order: -1;
}
.tab-label {
  color: White;
  background: LightGray;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  white-space: nowrap;
  text-align: center;
  padding: 10px .5em;
  order: -1;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  flex: 1;
}
.tab-label:not(:last-of-type) {
  margin-right: 5px;
}
.tab-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.tab-switch:checked+.tab-label {
  background: #67c5ff;
}
.tab-switch:checked+.tab-label+.tab-content {
  height: auto;
  overflow: auto;
  padding: 15px;
  opacity: 1;
  transition: .5s opacity;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.tab-switch {
  	display: none;
}

/* input */
.cp_iptxt {
	display: inline-block;
	width: 80%;
	margin: 15px;
}
.cp_iptxt input[type='text'] {
	height:50px;
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: black;
	border: 1px solid #1b2538;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

/*　submit　*/
.btn-flat-border {
	display: inline-block;
	width: 25%;
	height: 50px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  font-size:15px;
  margin: 20px 0;
}
.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

/* table */
tbody {
  border: 1px solid gray;
}
table {
  margin-bottom:30px;
}
table , td, th {
  padding: 3px;
  display: inline-block;
  border: 1px solid white;
  border-collapse: collapse;
}
td, th {
  text-align: center;
  width: 100px;
  height: 20px;
}
th {
  text-align: center;
  background: #f0e6cc;
}
.even {
  background: #fbf8f0;
}
.odd {
  background: #fefcf9;
}